@import "https://www.w3schools.com/w3css/4/w3.css";
@import "https://www.w3schools.com/lib/w3-theme-teal.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css";

a {
    text-decoration: none;
}

/* if desktop */
.mobile_device_550px {
	display: none;
}

@media only screen and (max-device-width: 550px) {
   .mobile_device_550px{display: block;position:relative;}
   .desktop {display: none;}

}
@media only screen and (max-device-width: 900px) {
   .mobile_device_900px{display: block;position:relative;}
   .desktop {display: none;}

}
.button-container {
  padding: 12px 24px;
}

button{
	margin:auto;
	display:block;

}

footer{
	position:relative;
}

.cursor {
	cursor: pointer;
}

.button-link{
	font-weight:900; width:254px
}

.open-topic{
	cursor:pointer
}