a {
    text-decoration: none;
}

/* if desktop */
.mobile_device_550px {
	display: none;
}

@media only screen and (max-device-width: 550px) {
   .mobile_device_550px{display: block;position:relative;text-align:center;}
   .desktop {display: none;}
   
}

.button-container {
  padding: 12px 24px;
}

button{
	margin:auto;
	display:block;

}

footer{
	position:relative;
}
